@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{
	background: url("Images/Background.png") no-repeat fixed center center;
		background-size: cover;
}
#container{
width: 800px;
	margin: 0 auto;
	
}
.left{
	width: 380px;
	height: 200px;
	color: white;
	background-color:rgba(213,125,174,1.00);
	border-radius: 20px;
	float: left;
	margin: 0px 10px 10px 15px;
	padding: 30px 30px 30px 30px;
	border: solid 3px rgba(240,185,204,1.00);
	
}
.right{
	width: 380px;
	height: 200px;
	background-color:rgba(213,125,174,1.00);
	border-radius: 20px;
	float:left;
	padding: 30px 30px 30px 30px;
	border: solid 3px rgba(240,185,204,1.00);
	visibility: hidden;
	
}
.bottom{
    width: 770px;
    height: 380px;
	color:white;
    background-color: rgba(213,125,174,1.00);
    border-radius: 20px;
    margin: 0 auto;
    padding: 30px;
    border: solid 3px rgba(240,185,204,1.00);
    clear: both;


}
.bottom img{
	max-width: 30%;
	height: auto;
	display: block;
	margin: 10px;
	float: left
	
}
footer{
	background-color:rgba(0,163,112,1.00);
	clear: both;
	color:white;
	padding: 15px;
	margin: 30px;


		
}
header > h1{
	text-align: center;
	color: rgba(28,78,62,1.00);
	
}
#container article{
	background-color:rgba(225,130,163,1.00)
	
}
article.top {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 30px;
}

.top img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}